.style {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000033; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.normal {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #0000cc; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.link {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #004b97; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #0058b0; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
