.9sec {
	font-family: "ו","Arial";
	font-size: 9pt;

	
}

A:link{text-decoration:none;color:#FFFFFF}
A:active{text-decoration:none;color:#FFFFFF}
A:visited{text-decoration:none;color:#FFFFFF}
A:hover{FONT-SIZE:9pt;text-decoration:none;color:#FFFFFF}
