
a:active     {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
a:link       {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
a:visited    {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
body         {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
li           {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
ol           {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
table        {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}
td           {  font-family: Arial; style; font-size: 11px; color: #000000; letter-spacing:1px}