.p1{font-size:9pt;font-family:宋体; line-height:13pt;}
body{cursor:url(blue.ani);
    FONT-SIZE: 12px; COLOR: #000000; font-family: "宋体";
    scrollbar-face-color: #DCE0E2;
    scrollbar-shadow-color: #687888;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #687888;
    scrollbar-darkshadow-color: #DCE0E2;
    scrollbar-track-color: #BCBFC0;
    scrollbar-arrow-color: #6E7E88; 
}
DIV { FONT-SIZE: 12px; 
COLOR: #333333 } 
TD { FONT-SIZE: 12px; COLOR: #333333 ; font-family: "宋体"} 
A:link 
{ COLOR: #3366CC; TEXT-DECORATION: none ; font-family: "宋体"} 
A:visited { COLOR: 
#3366cc; TEXT-DECORATION: none }
 A:active { COLOR: #6699ff; TEXT-DECORATION: none 
} 
A:hover { COLOR: #FF4400; TEXT-DECORATION: none } 
.kbhide { DISPLAY: none } 
a.title:link{COLOR: #ffffff; TEXT-DECORATION: none ;}
A.title:visited { COLOR: #ffffff; TEXT-DECORATION: none }
A.title:hover { COLOR: #FF4400; TEXT-DECORATION: none }
a.title2:link{COLOR: #000000; TEXT-DECORATION: none ;}
A.title2:visited { COLOR: #000000; TEXT-DECORATION: none }
A.title2:hover { COLOR: #FF4400; TEXT-DECORATION: none }

body{font-size: 9pt;  background:#ffffff;}
td{font-size:9pt;}
.buttonface{
	font-size: 9pt;
	font-family:		 "宋体", "arial", "sans-serif";
	background-color:  #f0f0f0;
	border: 1 solid #777777;
}
.smallInput {
	font-size: 9pt;
	font-family:		 "宋体", "arial", "sans-serif";
	background-color:  #f0f0f0;
	border: 1 solid #777777;
}
.b2{font-size: 7pt; font-family:"Verdana", "Arial", "宋体";}
.148px{font-size: 14.8px; font-family:"Verdana", "Arial", "宋体";}

<!-- 文章内容字体设置 -->
.b1{font-size: 11pt; font-family:"Verdana", "Arial", "宋体";line-height:130%;}

<!-- 表格边框颜色 -->
.border{ border:1px solid #A9D46D;}

<!-- 表格内背景色 -->
.tdbg{ background:#F4FAED;}

.input {
	font-size: 9pt;
	font-family:		 "宋体", "arial", "sans-serif";
	background-color:  #f0f0f0;
	border: 1 solid #777777;
}

.select {
	font-size:9pt;
	font-family:		 "宋体", "arial", "sans-serif";
	cursor:default;
	border:none;
	border-bottom: 1px solid #aaaaaa;
	background-color: #f0f0f0;
	overflow:hidden;
}

.smallarea{
	font-size:9pt;
	font-family:		"宋体", "arial", "sans-serif";
	border: 1px solid #a0a0a0;
	background-color:#f0f0f0;
}
.but {
font-family:宋体,MS SONG,SimSun,tahoma,sans-serif;
font-size:9pt;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top: 1px solid #AFC4D5;
color:#000000;
height: 19px;
text-decoration:none;
padding-left: 2px;
padding-right: 2px;
padding-top:1px;
cursor: hand
}
