<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
     <customErrors mode="Off" />
     <compilation debug="true"/>
 <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" /> 
  </system.web>
<appSettings>
 
<add key="db_app" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=database\db_app.mdb" />

 
 </appSettings>
</configuration>